<?xml version="1.0" ?>
<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="false"/>
  <arg name="headless" default="false"/>
  <arg name="checkpoint" default="" />
  <arg name="debug" default="false"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_sensors_tutorial)/worlds/binpacking.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <param name="colors" command="$(find xacro)/xacro.py /home/felix/catkin_ws/src/binpacking/models/colors.urdf.xacro" />

  <!-- 
  Kinect Cam    
  https://answers.gazebosim.org//question/4266/gazebo-15-libgazebo_openni_kinectso-pointcloud-data-is-rotated-and-flipped/
  -->
  <node pkg="tf" type="static_transform_publisher" name="correct_kinect_frame" args="0 0 0 4.71238898038469 0.0 4.71238898038469 depth_camera_link kinect_optical_link 10"/>  
  <node pkg="tf2_ros" type="static_transform_publisher" name="world_broadcaster" args="0.0 0.0 1.9 0.0 1.5707963267948966 0.0 map depth_camera_link" /> 
 
  <!-- Show in Rviz  --> 
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gazebo_sensors_tutorial)/config/kinect_coke.rviz"/> 
  
  <node name="binpacking" pkg="binpacking" type="binpacking.py" output="screen">
      <param name='checkpoint' value="$(arg checkpoint)"/>
  </node>

  <node name="gz_freeze_objects" pkg="gz_freeze_objects" type="main.py" output="screen"/>

  <!--<node name="contact_republisher" pkg="contact_republisher" type="contact_republisher_node"/>-->
</launch>
