
<robot name="simple_box">
    <gazebo reference="tool">
    <sensor type="gpu_lidar" name="gpu_lidar">
      <update_rate>40.0</update_rate> 
      <always_on>1</always_on>
      <topic>sonar</topic>
      <visualize>1</visualize>
      <ignition_frame_id>left_tool</ignition_frame_id>
      <ray>
        <scan>
          <horizontal>
            <samples>15</samples>
            <resolution>1.0</resolution>
            <min_angle>-0.1309</min_angle>
            <max_angle>0.1309</max_angle>
          </horizontal>
          <vertical>
            <samples>15</samples>
            <resolution>1.0</resolution>
            <min_angle>-0.1309</min_angle>
            <max_angle>0.1309</max_angle>
          </vertical>
        </scan>
        <range>
          <min>0.02</min>
          <max>4.0</max>
        </range>
      </ray>
      <plugin filename="ignition-gazebo-sensors-system" name="ignition::gazebo::systems::Sensors">
      </plugin>
    </sensor>
  </gazebo>
</robot>